@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*Nav-bar styling*/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 8px #000000;
  background-color: #ff7171;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

.nav-bar a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease 0s;
}

.nav-bar a:hover {
  color: white;
}

.nav-bar img {
  max-width: 7vmax;
  max-height: 5vmax;
  padding-left: 40px;
}

/*homepage styling*/

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
  background: #f2dcb3;
  background: linear-gradient(to right, #f2dcb3 20%, #f2ace7 100%);
}

.title-content {
  padding: 7% 6%;
  max-width: 50vw;
  max-height: 100vh;
  flex-basis: 50%;
}

.title-content > p {
  line-height: 1.8;
  word-spacing: 3.2px;
}

.title-content h1 {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 58px;
  letter-spacing: 8px;
}

.Banner-img {
  background-image: url("./pexels-robin-stickel-70497.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  flex-basis: 50%;
  max-width: 50vw;
  height: 100vh;
}

.title-content .btn {
  width: 200px;
  height: 50px;
  background-color: #ff7171;
  border: none;
  color: #fff;
  margin-top: 52.8px;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 100%;
}

/*homepage 2 styling */

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f2dcb3;
  background: linear-gradient(to bottom right, #f2dcb3 0%, #f2ace7 100%);
}

.img-gallery {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  height: 100vh;
  width: 50vw;
  flex-basis: 40%;
  padding: 64px;
}

.grid-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url("./pexels-rachel-claire-6752433.jpg");
  background-size: cover;
  background-position: center;
}

.grid-2 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url("./pexels-eva-bronzini-6141651.jpg");
  background-size: cover;
  background-position: center;
}

.grid-3 {
  grid-column: 2/3;
  grid-row: 1/3;
  background-image: url("./pexels-mister-mister-3434523.jpg");
  background-size: cover;
  background-position: top;
}

.learn-more {
  background-color: #ff7171;
  max-width: 36vw;
  height: 38vh;
  padding: 32px 24px;
  flex-basis: 50%;
}

.learn-more h1 {
  text-transform: uppercase;
  font-size: 45px;
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: 10px;
}

.learn-more a img {
  padding-left: 8px;
  max-width: 3vw;
  max-height: 3vh;
  padding-top: 8px;
}

.learn-more a {
  text-decoration: none;
  color: #000000;
}

/*TV Screen */

@media (min-width: 1920px) {
  .nav ul li {
    font-size: 50px;
  }

  .learn-more {
    height: 35vh;
  }

  .learn-more h1 {
    font-size: 50px;
  }
}

/*Tablet*/

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-bar li {
    padding: 0 24px;
    margin: 16px 0;
  }

  nav {
    font-size: 16px;
  }

  .title-content h1 {
    font-size: 32px;
    margin-bottom: 45px;
  }

  .title-content > p {
    line-height: 1.4;
    word-spacing: 1.5px;
  }

  .title-content {
    padding: 5% 3%;
  }

  .learn-more h1 {
    font-size: 24px;
  }
}

/*Mobile*/

@media (min-width: 320px) and (max-width: 767px) {
  .nav-bar .hide {
    display: none;
  }

  .nav-bar li {
    padding: 15px 16px;
  }

  .nav-bar {
    font-size: 20px;
  }

  .nav-bar img {
    max-width: 12vmax;
    max-height: 8vmax;
    padding-left: 20px;
  }

  .main-content {
    display: flex;
    background-image: url("./pexels-robin-stickel-70497.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(60%);
    opacity: 80%;
    width: 100vw;
    height: 100vh;
  }

  .title-content {
    backdrop-filter: blur(6.5px);
    font-weight: 900;
    max-height: 90vh;
    max-width: 100vw;
  }

  .title-content h1 {
    font-size: 40px;
    margin-bottom: 16px;
    letter-spacing: 8px;
    font-weight: 800;
    letter-spacing: 4px;
  }

  .Banner-img {
    display: none;
  }

  .title-content .btn {
    width: 180px;
    background-color: #ff7171;
    margin-top: 24px;
  }

  .footer-content {
    flex-wrap: wrap;
    width: 100vw;
    height: 110vh;
    margin-top: 0;
    padding: 0;
  }

  .img-gallery {
    grid-template-rows: repeat(2, 50vw);
    height: 50vh;
    width: 100vmax;
    flex-basis: 100%;
    padding: 0px 40px;
  }

  .learn-more {
    width: 70vw;
    height: 30vh;
    padding: 16px 12px;
    margin-bottom: 20px;
  }

  .learn-more h1 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 8px;
  }

  .learn-more a img {
    padding-left: 16px;
    max-width: 6vw;
    max-height: 5vh;
  }
}
